* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imgTestEye {
  display: flex;
  justify-content: center;
  height: 90vh;
  padding: 10px;
}
button {
  width: 33vw;
  height: 5vh;
  background-color: aqua;
  padding: 0;
  font-size: 100%;
}
.listButton {
  display: flex;
  justify-content: space-between;
}
input {
  text-align: center;
  width: 33vw;
  padding: 0;
  font-size: 100%;
}
h1 {
  text-align: center;
  line-height: 5vh;
  height: 5vh;
}
