.listImg {
  display: flex;
  justify-content: center;
}
img {
  max-width: 32vw;
  max-height: 80vh;
  padding: 5px;
}
button {
  width: 33vw;
  margin: 5px;
}
.listButton {
  display: flex;
  justify-content: space-between;
}
input {
  text-align: center;
  width: 33vw;
  margin: 5px;
}
h1 {
  text-align: center;
  line-height: 5vh;
}
